#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.arrContainer {
  display: flex;
  gap: 1rem;
}

.square {
  padding: 1rem;
}

.active {
  border: 1px solid red;
  position: relative;
}
.active:after {
  content: "";
  position: absolute;
  left: 0;
  top: 120%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e8e8e8;
  clear: both;
}

.activeL {
  /* background-color: aqua; */
  animation: swapL 5s;
}
.activeR {
  /* background-color: burlywood; */
  animation: swapR 5s;
}

@keyframes swapL {
  0% {
    transform: translateY(0) translateX(4rem);
  }
  30% {
    transform: translateY(0) translateX(4rem);
  }
  50% {
    transform: translateY(50px) translateX(4rem);
  }
  70% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes swapR {
  0% {
    transform: translateY(0) translateX(-4rem);
  }
  30% {
    transform: translateY(0) translateX(-4rem);
  }
  50% {
    transform: translateY(50px) translateX(-4rem);
  }

  70% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}
